<mat-card class="coffe-card">
  <mat-card-header>
    <mat-card-title>Barista AI</mat-card-title>
    <mat-card-subtitle>Encontre seu cafe especial com ajuda da Inteligencia Artificial</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="coffeForm">
      <mat-stepper orientation="vertical" linear #stepper>
        <mat-step>
          <ng-template matStepLabel>Sabor</ng-template>
          <mat-radio-group formControlName="flavor">
            <mat-radio-button *ngFor="let flavor of coffeOptions.flavors" [value]="flavor">
              {{flavor}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="option-selected">Sabor selecionado: {{ coffeForm.value['flavor'] }}</div>
          <div>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </mat-step>
      </mat-stepper>
    </form>
  </mat-card-content>
</mat-card>
